*
!*.yaml
!scenes
!local
!local/**
!.gitignore
!groups
!groups/**
!automations
!automations/**
!scripts
!scripts/**
!ui-lovelace
!ui-lovelace/**
!ui-images
!ui-images/**
!themes
!themes/**
!customizations
!customizations/**
!config
!config/**
!python_scripts
!python_scripts/**
!lovelace-default
!lovelace-default/**
!custom_components
!custom_components/**
!packages
!packages/**
secrets.yaml
known_devices.yaml
